<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylecss/style.css">

</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <!--Render our data-->

            <h1><strong>Mission to Mars</strong></h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <div class="row row-grid">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h2><strong>Latest Mars News:</strong></h2>
                    <h4>
                        <li><strong>{{ mars_data.news_title }}</strong></li>
                    </h4>
                    <p>
                        <li>{{ mars_data.news_parg }}</li>
                    </p>
                    <hr>
                </div>
                <div class="col-md-12">
                    <div class="col-md-7">
                        <img src="{{ mars_data.featured_image_url }}" alt="Mars" align="left" width=1 00%>
                    </div>

                    <div class="col-md-5">
                        <h2><strong>Current Weather on Mars:</strong></h2>
                    </div>
                    <div class="col-md-5">
                        <p>
                            <li>{{ mars_data.mars_weather }}</p>
                        </li>
                        <hr>
                    </div>
                    <div class="col-md-5">
                        <h2><strong>Mars Facts:</strong></h2>
                    </div>
                    <div class="col-md-5">
                        <p>
                            <li>{{mars_data.facts_mars_df | safe}}</li>
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr>
                <h1><strong>Mars Hemispheres:</strong></h1>
            </div>
            <div class="col-md-12">
                {% for i in mars_data.img_list_urls %}
                <div class="col-md-6">
                    <img src="{{i.img_url}}" width=90%>
                    <h4><strong>{{i.title}}</strong></h4>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
</body>

</html>